*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  height: 100vh;
  user-select: none;
  background-image: url('../images/trip.gif');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 80% 50%;
  font-family: 'Space Grotesk', Calibri, sans-serif;
  min-height: 340px;
}

header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: whitesmoke;
  padding: 0 50px;
  font-size: 1rem;
}

header a {
  margin: 0 7px;
  text-decoration: none;
  color: whitesmoke;
}

.logo {
  margin-right: 20%;
  height: 100px;
  border-radius: 20px;
}

/*
#locations{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    border: 1px white solid;
}

.location{
display: none;
}

#locations:hover{
    .location{
        display: block;
    }
}*/

section {
  height: calc(100vh - 170px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 5%;
  padding-bottom: 10%;
  min-height: 300px;
}

section > h1 {
  color: whitesmoke;
  font-size: 1rem;
}

section > p {
  color: whitesmoke;
  font-size: 0.7rem;
}

footer {
  text-align: center;

  bottom: 10px;
  width: 100%;
  color: whitesmoke;
  font-size: 0.6rem;
  height: 60px;
}

footer a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 15px;
  margin: 0 10px;
}

footer hr {
  margin: 10px 0;
  padding: 0;
}

footer p {
  padding: 0rem;
  margin: 0;
}

@media (min-width: 769px) {
  section > h1 {
    font-size: 1.2rem;
  }

  section > p {
    font-size: 0.9rem;
  }
}

@media (min-width: 1024px) {
  section > h1 {
    font-size: 1.4rem;
  }

  section > p {
    font-size: 1.1rem;
  }
}
